@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-serif);
}

html,
body {
  height: 100%;
  background: #e9e7e2;
  color: #262626;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

* {
  cursor: none;
}
